---
import { Socials } from "@/config";
import { getIconByName } from "@/components/core/Icons";
import { Button } from "@/components/ui/button";
import { Search } from "@/components/core/Search";

// To pass the tailwindcss classes to the astro component
const { class: className } = Astro.props;
---

<footer class:list={["py-[1.2rem] px-6 w-full", className]}>
  <div
    class="flex flex-col items-center justify-between gap-4 md:flex-row container"
  >
    <p
      class="text-center text-sm leading-loose text-muted-foreground md:text-left"
    >
      <Search client:only="react" />
    </p>
    <div class="flex gap-4">
      Built with
      <a
        href="https://github.com/HYP3R00T/CelestialDocs"
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4">Celestial Astro Theme</a
      >.
    </div>
  </div>
</footer>
